#myCanvas {
	width: 400px;
	height: 400px;
	background-color: white;
	border: 3px solid red;
}

.align {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* border: 5px solid green; */

}